* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "inter", sans-serif;
}

.globe {
  margin-right: 7px;
}

.icon {
  width: 7px;
  height: 9.55px;
  margin-right: 4px;
}

.card-img {
  width: 125px;
  height: 168px;
  border-radius: 5px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

.learn-more-link {
  display: inline-block;
  font-size: 10.24px;
  text-decoration: none;
  color: #fff;
  background: #f55a5a;
  padding: 6px 18px;
  border-radius: 2px;
  margin-top: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.learn-more-link:hover {
  transform: scale(1.05);
}

/* ==========
 TYPOGRAPY
 ========== */
h1 {
  font-weight: 500;
  font-size: 14.4608px;
  line-height: 18px;
  letter-spacing: -0.075em;
  color: #ffffff;
}

.country {
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  letter-spacing: 0.17em;
  margin-right: 12px;
  text-transform: uppercase;
  color: #2b283a;
}

.map-link {
  font-size: 10.24px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #918e9b;
}

.location {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 20px;
  color: #2b283a;
}

.date {
  display: block;
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;
  margin-bottom: 9px;
  color: #2b283a;
}

p {
  font-weight: 400;
  font-size: 10.24px;
  line-height: 15px;
  color: #2b283a;
}

/* ==========
 LAYOUT
 ========== */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  background: #f55a5a;
  margin-bottom: 30px;
  width: 100%;
}

.container {
  margin: 0 40px;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 471px;
  height: 240px;
  padding: 20px 0;
  border-bottom: 1px solid #f5f5f5;
  margin: 0 auto;
}

.card:last-of-type {
  border: unset;
}

.card-info {
  width: 326px;
}

.location-info {
  margin-bottom: 4px;
}
